body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.appLogin {
  text-align: center;
  display: flex;
  justify-content: center;
}
.formLogin{
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.App{ 
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgb(245, 70, 70) 100%);
  border: none;
  border-radius: 10px;
}
.App img{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90%;
}
.icon{
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 125px;
  animation: rotation 5s infinite linear;
}
.icon:hover{
  scale: 1.1;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.login{
  height: 30px;
  width: 90%;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
@media (min-width: 576px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .container{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .container{
    grid-template-columns: repeat(5, 1fr);
  }
}
.pokedex{
  text-align: center;
  background: rgba( 255, 255, 255, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
cursor: pointer;
}
.containerImage{
  position: relative;
  top: 30%;
  transform: translate(0, -50%);
}
.pokedex img{
  width: 100px;
  height: 100px;
}
.grass{
  background: rgba(84, 189, 80, 0.8);
}
.fighting{
  background: rgba(152, 70, 19, 0.8);
}
.flying{
  background: rgba(169, 113, 78, 0.8);
}
.poison{
  background: rgba(143, 20, 168, 0.8);
}
.ground{
  background: rgba(173, 170, 168, 0.8);
}
.rock{
  background: rgba(83, 81, 80, 0.8);
}
.bug{
  background: rgba(160, 206, 165, 0.8);
}
.ghost{
  background: rgba(90, 146, 191, 0.8);
}
.steel{
  background: rgba(107, 172, 158, 0.8);
}
.fire{
  background: rgba(196, 62, 62, 0.8);
}
.water{
  background: rgba(79, 182, 193, 0.8);
}
.electric{
  background: rgba(175, 192, 67, 0.8);
}
.psychic{
  background: rgba(192, 89, 89, 0.8);
}
.ice{
  background: rgba(3, 180, 220, 0.8);
}
.dragon{
  background: rgba(85, 202, 185, 0.8);
}
.dark{
  background: rgba(72, 72, 72, 0.8);
}
.fairy{
  background: rgba(189, 63, 151, 0.8);
}
.containerButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.paginated{
  font-size: large;
  color:#feca1b; 
  background-color:#3761a8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  margin: 10px 5px;
  cursor: pointer;
}
.selected{
    color: #3761a8;
  background-color: #feca1b;
}
.welcome{
  text-align: center;
  font-size: x-large;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerSearch{
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  width: fit-content;
  height: fit-content;
}
.containerSearch input{
  margin-left: 10px;
  border: none;
  background: transparent;
  outline: none;
}
.search button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search img{
  width: 40px;
}
.containerSelect{
  padding: 5px;
  width: fit-content;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
select{
  border: none;
  outline: none;
}

/* POKEMON DETAILS */
.pokemonDetail h1{
  text-align:left;
}
.pokemonDetail{
  text-align: center;
}
.pokemonDetail img{
  margin: 0 auto;
  max-width: 99%;
  filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.75));
}
.name{
  margin: 0;
  font-size:50px;
  color: #feca1b;
  padding: 20px;
  -webkit-text-stroke: 1px #3761a8;
}
.name::first-letter{
  text-transform: uppercase;
}
.moves{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;

}
.moves p{
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
.pokemonDetail div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}
@media (min-width: 992px) {
  .pokemonDetail div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .pokemonDetail div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}